@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 500;
  src: local("~??^&$&&"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("~??^&$&&"), url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.visually-hidden {
  display: none;
}

.btn {
  border: none;
  outline: none;
  background-color: #81b3d2;
  color: #ffffff;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.global-wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.main-header__media-wrapper {
  position: relative;
  min-height: 56px;
  background-color: #ffffff;
}

.navigation {
  position: relative;
  background-color: #81b3d2;
}

.navigation--hidden {
  display: none;
}

.navigation--no-js {
  display: block;
}

.navigation__item {
  float: none;
}

.navigation__link {
  display: block;
  padding: 19px 0;
  border-bottom: 1px solid #678fa8;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation__link:hover {
  background-color: #669ec0;
}

.navigation__link:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.navigation__button-close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-content__title {
  display: block;
  width: 82%;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.header-content__text {
  width: 100%;
  max-width: 275px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  line-height: 1.7;
}

.introduce {
  display: flex;
  position: relative;
  height: 391px;
  padding-left: 20px;
  padding-right: 20px;
  background: url("../img/bg-back-mobile@1x.jpg") center center no-repeat;
  background-size: cover,cover;
}

.introduce::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 27px;
  background: url("../img/bg-intro-triangle-mobile.svg") 50% no-repeat;
  background-size: cover;
}

.introduce__img {
  margin: auto;
  width: 274px;
}

.introduce--no-index {
  height: 138px;
  padding-bottom: 15px;
}

.introduce__img--no-index {
  width: 233px;
  height: 79px;
}

.main-page {
  z-index: 100;
}

.main-page--photos {
  margin-bottom: 100px;
}

.advantages-item__content-wrapper {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-item__reason {
  text-align: center;
}

.advantages-item__slogan {
  display: block;
  padding-top: 40px;
  padding-bottom: 15px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.advantages-item__content {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: 500;
}

.advantages-item__content--narrow {
  max-width: 240px;
}

.advantages-item__number {
  display: block;
  position: relative;
  padding-bottom: 20px;
  font-weight: 500;
}

.advantages-item__number::before {
  content: "__";
  position: relative;
  top: -6px;
  left: -5px;
  color: #ffffff;
}

.advantages-item__number::after {
  content: "__";
  position: relative;
  top: -6px;
  left: 5px;
  color: #ffffff;
}

.advantages-item__number--black::before, .advantages-item__number--black::after {
  color: black;
}

.advantages-item__photo {
  display: block;
  width: 100%;
  height: 260px;
  margin: 0 auto;
}

.advantages-item--first-article {
  margin-top: 20px;
  position: relative;
}

.advantages-item--first-article::before {
  content: "";
  display: block;
  position: absolute;
  top: -26px;
  left: 0;
  width: 100%;
  height: 27px;
  background: url("../img/bg-intro-triangle-mobile-blue.svg") 50% no-repeat;
  background-size: cover;
  z-index: 10;
}

.advantages-item--second-article {
  background-color: #eeeeee;
  text-align: center;
}

.advantages-item--second-article .advantages-list-item {
  padding-left: 0;
}

.advantages-list-item {
  position: relative;
  padding-top: 25px;
  padding-left: 50px;
}

.advantages-list-item--house::before, .advantages-list-item--food::before, .advantages-list-item--gift::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;
  height: 47px;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.advantages-list-item--house::before {
  background-image: url("../img/icon-house.svg");
}

.advantages-list-item--food::before {
  background-image: url("../img/icon-burger.svg");
}

.advantages-list-item--gift::before {
  background-image: url("../img/icon-gift.svg");
}

.advantages-list-item__title {
  padding-bottom: 25px;
  font-size: 18px;
  text-transform: uppercase;
}

.advantages-list-item__content {
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.advantages__photo {
  width: 320px;
  height: 260px;
}

.find-hotel {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.find-hotel__wrapper {
  margin: 0 auto;
}

.find-hotel__question {
  display: block;
  margin-bottom: 25px;
  font-size: 21px;
}

.find-hotel__content {
  width: 100%;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.find-hotel__button {
  display: block;
  width: 100%;
  padding: 18px 0px;
  margin-bottom: 50px;
  font-size: 21px;
}

.main-footer {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__wrapper {
  padding-top: 30px;
}

.main-footer__invitation-tag {
  padding-bottom: 40px;
  font-size: 21px;
}

.main-footer__text {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  vertical-align: middle;
}

.main-footer__logo-link {
  display: inline-block;
  vertical-align: middle;
}

.main-footer__logo {
  fill: #000000;
}

.main-footer__logo:hover {
  fill: #81b3d2;
}

.main-footer__logo:active {
  fill: #b2b2b2;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 102px;
  transform: translateX(-50%);
  z-index: 500;
}

.toggle-menu {
  position: absolute;
  top: 26px;
  right: 20px;
  display: block;
  width: 24px;
  height: 4px;
  border: none;
  font-size: 0;
  background-color: #81b3d2;
  outline: none;
}

.toggle-menu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
}

.toggle-menu::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
}

.toggle-menu:hover::before {
  transform: translateY(16px);
  transition-duration: 1s;
}

.toggle-menu:hover::after {
  transform: translateY(-16px);
  transition-duration: 1s;
}

.advantages-list {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-map {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.main-map::before {
  content: "";
  width: 100%;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.main-map::after {
  content: "";
  width: 2px;
  height: 302px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}

.social-links {
  margin-bottom: 40px;
  font-size: 0;
}

.social-links-item {
  display: inline-flex;
  width: 47px;
  height: 47px;
  margin-right: 8px;
  vertical-align: bottom;
  justify-content: center;
  align-items: center;
}

.social-links-item__svg {
  fill: #fff;
}

.posts-item {
  padding: 20px 20px;
  border-top: 1px solid #e5e5e5;
}

.posts-item:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.posts-item__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.posts-item__photo {
  display: block;
  max-width: 280px;
  margin: 0 auto;
}

.posts-item__info {
  padding-top: 18px;
}

.posts-item__title {
  margin-bottom: 12px;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.posts-item__author {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.posts-item__likes {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 35px;
  font-size: 14px;
}

.posts-item__svg {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 22px;
  height: 20px;
  fill: #b2b2b2;
}

.presentation {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.presentation__title {
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.presentation__content {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
}

.video-player__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.video-player__image {
  width: 100%;
}

.video-player__playbar {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  bottom: -60px;
  left: 20px;
  width: 280px;
}

.video-player__indicator-panel {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.video-player__indicator {
  position: relative;
  width: 240px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.4);
}

.video-player__toggle {
  position: absolute;
  top: -4px;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.video-player__btn-wrapper {
  padding-top: 22px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
}

.video-player__btn-wrapper--replay {
  padding-left: 24px;
  padding-right: 45px;
}

.video-player__btn-wrapper--subtitles {
  padding-left: 87px;
  padding-right: 15px;
}

.video-player__btn-wrapper--fullscreen {
  padding-left: 22px;
  padding-right: 19px;
}

.video-player__btn {
  padding: 0;
  border: none;
  font-size: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

.video-player__btn-svg {
  fill: #5c6870;
}

.video-player__btn-svg:hover {
  fill: #333333;
}

.video-player__btn-svg:active {
  fill: #c1c1c1;
}

.video-player__btn--replay {
  width: 16px;
  height: 31px;
}

.video-player__btn--subtitles {
  width: 32px;
  height: 31px;
}

.video-player__btn--fullscreen {
  width: 20px;
  height: 31px;
}

.form-feedback {
  display: block;
  width: 100%;
}

.form-feedback__set {
  box-sizing: border-box;
  width: 100%;
  padding-top: 21px;
}

.form-feedback__title {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.form-feedback__presentation-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 20px;
}

.form-feedback__label {
  display: block;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-feedback__label--contacts {
  padding-left: 20px;
  padding-bottom: 15px;
}

.form-feedback__input {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  width: 120px;
  padding: 17px 20px;
  border: none;
  line-height: 21px;
  font-size: 18px;
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
}

.form-feedback__input--contacts {
  width: 100%;
  margin-bottom: 10px;
}

.form-feedback__input:hover {
  background-color: #e5e5e5;
}

.form-feedback__input:focus {
  background-color: transparent;
  outline: 4px solid #e5e5e5;
}

.form-feedback__inside-wrapper {
  position: relative;
  padding: 0 20px;
}

.form-feedback__inside-wrapper::after {
  content: "";
  position: absolute;
  bottom: 51px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.form-feedback__inside-wrapper--phone::after {
  background-image: url("../img/icon-phone.svg");
}

.form-feedback__inside-wrapper--email::after {
  bottom: 0;
  background-image: url("../img/icon-mail.svg");
}

.form-feedback__input-error {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #ff5c5c;
}

.form-feedback__input--radio {
  display: none;
}

.form-feedback__label--radio {
  display: block;
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.form-feedback__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background: #f2f2f2;
  border-radius: 50%;
}

.form-feedback__label--radio::after {
  content: "";
  display: none;
  z-index: 5;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  background: #000;
  border-radius: 50%;
}

.form-feedback__label--radio:last-child {
  margin-bottom: 28px;
}

.form-feedback__input--radio:checked + .form-feedback__label::after {
  display: block;
}

.form-feedback__label--radio:hover::before {
  background-color: #e5e5e5;
}

.form-feedback__label--radio:active::before {
  background-color: #d5d5d5;
}

.form-feedback__input--checkbox {
  display: none;
}

.form-feedback__label--checkbox {
  display: block;
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.form-feedback__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 7px;
  background: #f2f2f2;
  z-index: 5;
}

.form-feedback__label--checkbox::after {
  content: "";
  display: none;
  position: absolute;
  top: 6px;
  left: 12px;
  width: 23px;
  height: 18px;
  transform: rotate(-45deg);
  border: 4px solid #333;
  z-index: 5;
  clip: rect(12px, 23px, auto, auto);
}

.form-feedback__input--checkbox:checked + .form-feedback__label::after {
  display: block;
}

.form-feedback__label--checkbox:hover::before {
  background-color: #e5e5e5;
}

.form-feedback__label--checkbox:active::before {
  background-color: #d5d5d5;
}

.form-feedback__set--review {
  padding: 0 20px;
}

.form-feedback__review-wrapper {
  padding: 0 20px;
}

.form-feedback__review {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 5px;
  margin-bottom: 50px;
  border: none;
  font-size: 18px;
  background-color: #f2f2f2;
  resize: none;
  outline: none;
}

.form-feedback__send-form {
  padding: 0 20px;
}

.form-feedback__btn {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 16px 0px;
  font-size: 21px;
  text-transform: uppercase;
}

.feedback-form__note {
  display: none;
}

@media (min-width: 768px) {

  .global-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .main-header__media-wrapper {
    min-height: 0;
  }

  .navigation {
    background-color: #ffffff;
    display: block;
  }

  .navigation__list::after {
    content: "";
    display: table;
    clear: both;
  }

  .navigation__item {
    display: inline-block;
    width: 19.5%;
  }

  .navigation__item--active .navigation__link {
    color: #766357;
    cursor: default;
  }

  .navigation__item--active .navigation__link:hover {
    color: #604e43;
  }

  .navigation__item--active .navigation__link:active {
    color: #f2f2f2;
  }

  .navigation__item:nth-child(2) {
    margin-right: 20%;
  }

  .navigation__link {
    border-bottom: none;
    font-size: 14px;
    color: #000000;
  }

  .navigation__link:hover {
    background-color: transparent;
    color: #81b3d2;
  }

  .navigation__link:active {
    background-color: transparent;
    color: #f2f2f2;
  }

  .navigation__button-close {
    display: none;
  }

  .header-content__title {
    width: 65%;
    max-width: 520px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .header-content__title.header-content__title--big {
    padding-top: 75px;
    font-size: 30px;
  }

  .header-content__text {
    width: 75%;
    max-width: 500px;
    padding-bottom: 55px;
  }

  .introduce {
    height: 520px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .introduce::after {
    height: 60px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .introduce__img {
    width: 460px;
    height: 345px;
  }

  .introduce--no-index {
    height: 290px;
  }

  .introduce__img--no-index {
    height: 105px;
  }

  .main-page--photos {
    padding: 0 60px;
    margin-bottom: 75px;
  }

  .advantages-item__reason {
    display: flex;
    flex-direction: row;
    height: 256px;
  }

  .advantages-item__content-wrapper {
    height: 100%;
    flex-grow: 2;
  }

  .advantages-item__content--right {
    order: 2;
  }

  .advantages-item__photo {
    display: block;
    min-width: 512px;
    height: 256px;
    max-width: 804px;
    flex-grow: 1;
  }

  .advantages-item__slogan {
    width: 180px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 21px;
    line-height: 27px;
  }

  .advantages-item:first-of-type .advantages-list-item {
    padding-top: 105px;
  }

  .advantages-item:nth-of-type(n+2) .advantages-list-item {
    width: calc(100%/3);
  }

  .advantages-list-item {
    float: left;
    width: calc(100%/3);
    padding-left: 0;
    text-align: center;
  }

  .advantages-list-item--house::before, .advantages-list-item--food::before, .advantages-list-item--gift::before {
    width: 75px;
    height: 76px;
    top: 0;
    left: 36%;
  }

  .advantages-list-item--gift {
    float: right;
  }

  .advantages-list-item__title {
    width: 130px;
    margin: 0 auto;
    font-size: 21px;
  }

  .advantages-list-item__content {
    width: 68.75%;
    padding: 0 20px;
    margin: 0 auto;
  }

  .advantages-list-item__content--wrap {
    width: auto;
  }

  .find-hotel {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 58px;
  }

  .find-hotel__wrapper {
    width: 59.9%;
  }

  .find-hotel__question {
    font-size: 30px;
    margin-bottom: 36px;
  }

  .find-hotel__content {
    width: 95%;
  }

  .find-hotel__button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .main-footer {
    padding-left: 60px;
    padding-right: 60px;
  }

  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__invitation-tag {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
    text-align: left;
  }

  .main-footer__created-wrapper {
    display: inline-block;
    text-align: right;
  }

  .main-logo {
    top: -59px;
  }

  .toggle-menu {
    display: none;
  }

  .advantages-list {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 55px;
  }

  .advantages-list::after {
    content: "";
    display: table;
    clear: both;
  }

  .advantages-item:nth-of-type(n+2) .advantages-list {
    padding-top: 25px;
  }

  .social-links {
    display: inline-block;
    width: 31.5%;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .posts {
    font-size: 0;
    max-width: 650px;
    margin: 0 auto;
  }

  .posts-item {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .posts-item__wrapper {
    max-width: 648px;
    margin: 0 0;
  }

  .posts-item:nth-child(n+2) {
    display: inline-block;
    width: 50%;
    max-width: 324px;
    vertical-align: top;
  }

  .posts-item:nth-child(n+2) .posts-item__photo {
    height: 268px;
  }

  .posts-item__info {
    padding-bottom: 20px;
    background-color: #f2f2f2;
  }

  .posts-item__info::after {
    content: "";
    display: table;
    clear: both;
  }

  .posts-item__photo {
    max-width: 324px;
  }

  .posts-item__photo--first {
    max-width: 648px;
    height: 400px;
  }

  .posts__description {
    padding-left: 20px;
    float: left;
  }

  .posts-item__likes {
    padding-top: 22px;
    padding-right: 20px;
    float: right;
  }

  .posts-item__svg {
    top: 18px;
    left: 7px;
    fill: #a9a9a9;
  }

  .presentation {
    padding-top: 60px;
  }

  .presentation__title {
    font-size: 30px;
  }

  .presentation__content {
    margin-bottom: 80px;
    max-width: 380px;
  }

  .video-player__wrapper {
    width: 650px;
  }

  .video-player__playbar {
    width: 100%;
    left: 0;
    bottom: 6px;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
  }

  .video-player__indicator-panel {
    width: 393px;
    order: 2;
    background: transparent;
  }

  .video-player__indicator {
    width: 100%;
  }

  .video-player__btn-wrapper {
    padding-top: 36px;
    padding-bottom: 25px;
    background-color: transparent;
  }

  .video-player__btn-wrapper--replay {
    padding-left: 35px;
    padding-right: 35px;
    order: 1;
  }

  .video-player__btn-wrapper--subtitles {
    padding-left: 46px;
    padding-right: 10px;
    order: 3;
  }

  .video-player__btn-wrapper--fullscreen {
    padding-top: 36px;
    padding-bottom: 25px;
    order: 4;
  }

  .video-player__btn {
    fill: #ffffff;
  }

  .video-player__btn-svg {
    fill: #ffffff;
  }

  .form-feedback {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .form-feedback__title {
    border-top: none;
    font-size: 21px;
  }

  .form-feedback__title--align-left,
  .form-feedback__title--align-onlyleft {
    text-align: left;
    padding-left: 55px;
  }

  .form-feedback__title--align-onlyleft {
    padding-left: 0;
  }

  .form-feedback__presentation-wrapper {
    padding-right: 0;
  }

  .form-feedback__title--visibility-hidden {
    display: none;
  }

  .form-feedback__label--radio {
    margin-left: 0px;
  }

  .form-feedback__input--contacts-mail {
    margin-bottom: 0;
  }

  .form-feedback__set--left {
    width: 50%;
    order: -1;
    border-right: 1px solid #dbdbdb;
  }

  .form-feedback__set--right {
    width: 50%;
  }

  .form-feedback__presentation-wrapper {
    padding-left: 55px;
  }

  .form-feedback__set--wide {
    width: 100%;
  }

  .form-feedback__title--wide {
    position: relative;
    box-sizing: border-box;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .form-feedback__title--wide::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
    margin-right: 60px;
    background: #dbdbdb;
    z-index: -20;
  }

  .form-feedback__title--visible-index {
    padding: 0 50px;
    background-color: #ffffff;
    z-index: 100;
  }

  .form-feedback__inside-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-feedback__inside-wrapper::after {
    bottom: 30px;
  }

  .form-feedback__inside-wrapper--email::after {
    bottom: 0px;
  }

  .form-feedback__input-error {
    order: 2;
    margin-left: auto;
  }

  .form-feedback__label--contacts {
    order: 1;
  }

  .form-feedback__input--contacts {
    order: 3;
  }

  .form-feedback__input--contacts-phone {
    margin-bottom: 30px;
  }

  .form-feedback__title--break-line::before {
    bottom: 15px;
  }

  .form-feedback__title--break-line .form-feedback__title--visible-index {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 0 40px;
  }

  .form-feedback__label--checkbox {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 80px;
    margin: 0;
    margin-bottom: 30px;
  }

  .form-feedback__label--checkbox:nth-of-type(2n-1) {
    margin-left: 85px;
  }

  .form-feedback__review {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }

  .form-feedback__send-form {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-feedback__btn {
    max-width: 400px;
    margin: 0 0;
  }

  .feedback-form__note {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
  }

  .feedback-form__note sup {
    font-size: 110%;
    top: 0;
  }
}

@media (min-width: 1200px) {

  .global-wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .header-content__title {
    width: 42%;
    font-size: 21px;
  }

  .header-content__text {
    width: 46%;
  }

  .introduce {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .introduce::after {
    height: 60px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .introduce--no-index {
    margin-bottom: 40px;
  }

  .introduce__img {
    height: 350px;
  }

  .introduce__img--no-index {
    height: 122px;
  }

  .main-page--photos {
    padding: 0 0;
  }

  .advantages-item__photo {
    min-width: 800px;
  }

  .advantages-list-item--house::before, .advantages-list-item--food::before, .advantages-list-item--gift::before {
    left: 41%;
  }

  .find-hotel__content {
    width: 85%;
    margin-bottom: 50px;
  }

  .main-footer {
    padding-left: 120px;
    padding-right: 50px;
  }

  .main-logo {
    width: 188px;
  }

  .posts {
    max-width: none;
  }

  .posts-item:nth-child(n+2) {
    width: calc(100%/3);
    max-width: 400px;
  }

  .posts-item {
    position: relative;
  }

  .posts-item__wrapper {
    max-width: 1200px;
  }

  .posts-item__photo {
    max-width: 400px;
  }

  .posts-item__photo--first {
    max-width: 1200px;
    height: 400px;
  }

  .posts-item__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    z-index: 100;
  }

  .posts-item__likes {
    color: #ffffff;
  }

  .posts-item__svg {
    fill: #ffffff;
  }

  .presentation {
    padding: 0 60px;
    padding-top: 75px;
  }

  .presentation__content {
    width: 36%;
  }

  .video-player__wrapper {
    width: 800px;
  }

  .video-player__indicator-panel {
    width: 545px;
  }

  .form-feedback {
    padding: 0 120px;
  }

  .form-feedback__title--align-onlyleft {
    width: auto;
    padding-left: 80px;
  }

  .form-feedback__title--align-left {
    width: auto;
    padding-left: 75px;
  }

  .form-feedback__presentation-wrapper {
    padding-left: 75px;
  }

  .form-feedback__title--visibility-hidden {
    display: inline;
  }

  .form-feedback__external-wrapper {
    display: flex;
  }

  .form-feedback__inside-wrapper {
    display: flex;
    align-content: center;
    flex-basis: 400px;
    padding: 0;
  }

  .form-feedback__input-error {
    width: 100%;
    padding-left: 110px;
    order: -1;
  }

  .form-feedback__label--contacts {
    padding-left: 0;
    padding-bottom: 0;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .form-feedback__input--contacts {
    box-sizing: border-box;
    width: auto;
    flex-shrink: 2;
    margin-bottom: 0;
  }

  .form-feedback__inside-wrapper::after {
    bottom: 0;
    right: 0;
  }

  .form-feedback__inside-wrapper--phone::after {
    right: 80px;
  }

  .form-feedback__inside-wrapper--email {
    align-items: flex-end;
    flex-grow: 1;
  }

  .form-feedback__inside-wrapper:nth-child(2n+1) {
    padding-right: 80px;
  }

  .form-feedback__label--email {
    margin-top: 40px;
  }

  .form-feedback__label--visibility-hidden {
    display: none;
  }

  .form-feedback__label--checkbox:nth-of-type(2n-1) {
    margin-left: 0;
  }

  .form-feedback__label--checkbox {
    margin: 0;
    width: 24.5%;
    padding-right: 0;
  }
}

@media (min-width: 340px) and (max-width: 768px) {

  .introduce::after {
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    height: 58px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

  .introduce {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {

  .introduce {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {

  .introduce {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

@media (min-width: 321px) and (max-width: 768px) {

  .advantages-item--first-article::before {
    top: -56px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet-blue.svg");
  }
}

@media (min-width: 640px) {

  .advantages-item--first-article {
    margin-top: 0;
  }

  .advantages-item--first-article::before {
    display: none;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {

  .advantages-list-item::before {
    left: 40%;
  }
}

@media (min-width: 768px) and (min-width: 900px) and (max-width: 1200px) {

  .form-feedback__btn {
    max-width: 500px;
  }
}
