$primary-txt-color: #000000;
$primary-bg-color: #ffffff;
$secondary-txt-color: #ffffff;
$secondary-bg-color: #81b3d2;

$btn-bg-color: #81b3d2;
$btn-bg-color-hover: #669ec0;
$btn-bg-color-active: #5496bd;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;


