
.advantages-item__content-wrapper{
	padding-left: 5.8%;
	padding-right: 5.8%; 
	text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: $secondary-bg-color;
  color: $secondary-txt-color;
}

.advantages-item__slogan {
	display: block;
	padding-top: 40px;
	padding-bottom: 15px;
	margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
 }

.advantages-item__content{
	padding-bottom: 40px;
	font-weight: 500;
}


.advantages-item__number {
	display: block;
	position: relative;
	padding-bottom: 20px;
	font-weight: 500;

	&::before {
		content: "__";
		position: relative;
		top: -6px;
		left: -5px;
		color: $secondary-txt-color;
	}
	&::after {
		content: "__";
		position: relative;
		top: -6px;
		left: 5px;
		color: $secondary-txt-color;
	}
}

.advantages-item__number--black {
	&::before,&::after{
		color: black;
	}
}

.advantages-item__photo {
	width: 320px;
	height: 260px;
}

.advantages-item--second-article{
	background-color: #eeeeee;
	text-align: center;
}

.advantages-item--second-article .advantages-list-item {
	padding-left: 0;
}


@media (min-width: $tablet-width){
	.advantages-item__reason{
		@include clearfix();
		height: 256px;
	}
	.advantages-item__reason--right{
		float: right;
	}
	.advantages-item__content-wrapper{
		width: 21.7%;
		height: 100%;
		max-width: 405px;
		float: left;
	}
	.advantages-item__content--right {
		float: right;
	}
	.advantages-item__photo {
		width: 512px;
		height: 256px;
		max-width: 804px;
		float: left;
	}
	.advantages-item__slogan {
		width: 180px;
		margin: 0 auto;
	  padding-top: 50px;
	  font-size: 21px;
	 
  }
}

@media (min-width: $desktop-width){
	.advantages-item__photo{
		width: 800px;
	}
}