
.advantages-item__content-wrapper{
	text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: $secondary-bg-color;
  color: $secondary-txt-color;
}

.advantages-item__slogan {
	display: block;
	padding-top: 40px;
	padding-bottom: 15px;
	margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
 
}

.advantages-item__content{
	padding-bottom: 40px;
	font-weight: 500;
}


.advantages-item__number {
	display: block;
	position: relative;
	padding-bottom: 20px;
	font-weight: 500;

	&::before {
		content: "__";
		position: relative;
		top: -6px;
		left: -5px;
		color: $secondary-txt-color;
	}
	&::after {
		content: "__";
		position: relative;
		top: -6px;
		left: 5px;
		color: $secondary-txt-color;
	}
}

.advantages-item__number--black {
	&::before,&::after{
		color: black;
	}
}


.advantages-item--second-article{
	background-color: #eeeeee;
	text-align: center;
}

.advantages-item--second-article .advantages-list-item {
	padding-left: 0;
}

