.advantages {
	
}

.advantages__slogan{
	display: block;
	width: 92%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 18px;
	color: $primary-txt-color;
	text-transform: uppercase;
}

.advantages__text {
	 width: 92%;
	 margin: 0 auto;
	 padding: 20px 0;
	 text-align: center;
	 font-size: 14px;
	 font-weight: 500;
   text-transform: uppercase;
   color: #333;
   line-height: 1.7;
}

@media (min-width: $tablet-width){
	.advantages__slogan{
		width: 65%;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.advantages__text{
		width: 70%;
		padding-bottom: 55px;
	}
}

@media (min-width: $desktop-width){
	.advantages__slogan{
		width: 42%;
		font-size: 21px;
	}
	.advantages__text{
		width: 46%;
	}
}