.advantages-list-item {
	position: relative;
	padding-top: 25px;
	padding-left: 50px;

	&--house::before,
	&--food::before,
	&--gift::before {
		content: ""; 
		position: absolute;
		top: 10px;
		left: 0;
		width: 40px;
		height: 47px;
		background-position: 50% 50%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	&--house::before{
		background-image: url("../img/icon-house.svg");
	}
	&--food::before{
		background-image: url("../img/icon-burger.svg");
	}
	&--gift::before{
		background-image: url("../img/icon-gift.svg");
	}
}


.advantages-list-item__title {
	padding-bottom: 25px;
	font-size: 18px;
	text-transform: uppercase;
}

.advantages-list-item__content {
	padding-bottom: 25px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.advantages__photo {
	width: 320px;
	height: 260px;
}

@media (min-width: 1050px) and (max-width: 1200px){
	.advantages-list-item{
		&::before{
			left: 40%;
		}
	}
}

@media (min-width: $tablet-width){

	.advantages-item:first-of-type .advantages-list-item  {
		padding-top: 105px;
	}
	.advantages-item:nth-of-type(n+2) .advantages-list-item  {
		width: calc(100%/3);
  }
 

	.advantages-list-item{
		float: left;
		width: calc(100%/3);
		padding-left: 0;
		text-align: center;

		&--house::before,
		&--food::before,
		&--gift::before {
			width: 75px;
			height: 76px;
			top: 0;
			left: 36%;
		}
	}

	.advantages-list-item--gift{
		float: right;
	}

	.advantages-list-item__title{
  	width: 130px;
  	margin: 0 auto;
  	font-size: 21px;
  }

	.advantages-list-item__content {
		width: 68.75%;
		padding: 0 20px;
		margin: 0 auto;
	}	
	.advantages-list-item__content--wrap{
		width: auto;
	}

}

@media (min-width: $desktop-width){
	
	.advantages-list-item{
		&--house::before,
		&--food::before,
		&--gift::before {
		left: 41%;
		}
	}

}
