.advantages-list {
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: $tablet-width){
	.advantages-list{
		@include clearfix();
		padding-top: 60px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.advantages-item:nth-of-type(n+2) .advantages-list{
		padding-top: 25px;
	}
}