.find-hotel {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: $primary-bg-color;
}

.find-hotel__question {
	display: block;
	margin-bottom: 25px;
	font-size: 21px;
}
.find-hotel__content {
	margin-bottom: 40px;
	font-weight: 500;
}

.find-hotel__button {
	display: block;
	width: 100%;
	padding: 18px 0px;
	margin-bottom: 50px;
	font-size: 21px;
}

@media (min-width: $tablet-width){
	.find-hotel {
		padding-top: 58px;
	}
	.find-hotel__question{
		font-size: 30px;
		margin-bottom: 36px;
	}

	.find-hotel__content {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}


	.find-hotel__button {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

}