.form-feedback {
    display: block;
    width: 100%;
}

.form-feedback__set {
		box-sizing: border-box;
    width: 100%;
    padding-top: 21px;
}

.form-feedback__title {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.form-feedback__presentation-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 20px;
}

.form-feedback__label {
    display: block;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    &--contacts {
        padding-left: 20px;
        padding-bottom: 15px;
    }
}

.form-feedback__input {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    width: 120px;
    padding: 17px 20px;
    border: none;
    line-height: 21px;
    font-size: 18px;
    background-color: #f2f2f2;
    color: #000000;
    outline: none;
    &--contacts {
        width: 100%;
        margin-bottom: 10px;
    }
    &:hover {
        background-color: #e5e5e5;
    }
    &:focus {
        background-color: transparent;
        outline: 4px solid #e5e5e5;
    }
}

.form-feedback__inside-wrapper {
    position: relative;
    padding: 0 20px;
    &::after {
        content: "";
        position: absolute;
        bottom: 51px;
        right: 20px;
        width: 55px;
        height: 55px;
        background-color: #e6e6e6;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.form-feedback__inside-wrapper--phone::after {
    background-image: url("../img/icon-phone.svg");
}

.form-feedback__inside-wrapper--email::after {
    bottom: 0;
    background-image: url("../img/icon-mail.svg");
}

.form-feedback__input-error {
    padding-left: 20px;
    padding-bottom: 20px;
    color: #ff5c5c;
}

.form-feedback__input--radio {
    display: none;
}


.form-feedback__label--radio {
		display: block;
	  position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
        background: #f2f2f2;
        border-radius: 50%;
    }
    &::after {
    	content: "";
    	display: none;
    	z-index: 5;
    	position: absolute;
    	top: 17px;
    	left: 17px;
    	width: 22px;
    	height: 22px;
    	background: #000;
    	border-radius: 50%;
    }

}
.form-feedback__label--radio:last-child {
	margin-bottom: 28px;
}

.form-feedback__input--radio:checked + .form-feedback__label::after {
	display: block;
}

 .form-feedback__label--radio:hover::before {
 		background-color: #e5e5e5;
 }  
  .form-feedback__label--radio:active::before{
  	background-color: #d5d5d5;
}

.form-feedback__input--checkbox {
	display: none;
}

.form-feedback__label--checkbox {
		display: block;
	  position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
        border-radius: 7px;
        background: #f2f2f2;
        z-index: 5;
    }
     &::after {
        content: "";
        display: none;
        position: absolute;
      	top: 6px;
        left: 12px;
        width: 23px;
        height: 18px;
        transform: rotate(-45deg); 
        border: 4px solid #333;
        z-index: 5;
        clip: rect(12px, 23px, auto, auto);
    }

}

.form-feedback__input--checkbox:checked + .form-feedback__label::after {
	display: block;
}

.form-feedback__label--checkbox:hover::before {
 		background-color: #e5e5e5;
 }  
  .form-feedback__label--checkbox:active::before{
  	background-color: #d5d5d5;
}


.form-feedback__review {
	box-sizing: border-box;
	width: 86%;
	height: 160px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 5px;
	margin: 0 20px;
	margin-bottom: 50px;
	border: none;
	font-size: 18px;
	background-color: #f2f2f2;
	resize: none;
	outline: none;
}

.form-feedback__btn {
	display: block;
	width: 86%;
	margin: 0 auto;
	margin-bottom: 80px;
	padding:  16px 0px;
	font-size: 21px;
	text-transform: uppercase;
}

.feedback-form__note {
	display: none;
}

@media (min-width: $tablet-width){

	.form-feedback{
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 60px;
	}

	.form-feedback__title {
		border-top: none;
		font-size: 21px;
	}

	.form-feedback__title--align-left,
	.form-feedback__title--align-onlyleft{
		text-align: left;
		padding-left: 55px;
	}
	.form-feedback__title--align-onlyleft{
		padding-left: 0;
	}


.form-feedback__presentation-wrapper{
	padding-right: 0;
}
	.form-feedback__title--visibility-hidden{
		display: none;
	}
	.form-feedback__label--radio {
		margin-left: 0px;
	}
	.form-feedback__input--contacts-mail{
		margin-bottom: 0;
	}
	.form-feedback__set--left {
		width: 50%;
		order: -1;
		border-right: 1px solid #dbdbdb;
	}
	.form-feedback__set--right {
		width: 50%;
	}

	.form-feedback__presentation-wrapper {
		padding-left: 55px;
	}

	.form-feedback__set--wide{
		width: 100%;
	}
	.form-feedback__title--wide {
		position: relative;
		box-sizing: border-box;
		padding-top: 70px;
		margin-bottom: 40px;
		
		&::before{
			content: "";
			display: block;
			position: absolute;
			bottom: 5px;
			left: 0;
      width: 100%;
      height: 1px;
      margin-bottom: 5px;
      margin-right: 60px;
      background: #dbdbdb;
      z-index: -20;
		}
	}

	.form-feedback__title--visible-index{
		padding: 0 50px;
		background-color: $primary-bg-color;
		z-index: 100;
	}


.form-feedback__inside-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	&::after {
		bottom: 30px;
	}
}
.form-feedback__inside-wrapper--email::after{
	bottom: 0px;
}
.form-feedback__input-error {
	order: 2;
	margin-left: auto;
}
.form-feedback__label--contacts {
	order: 1;
}
.form-feedback__input--contacts {
	order: 3;
}

.form-feedback__input--contacts-phone {
	margin-bottom: 30px;
}

.form-feedback__title--break-line::before {
	bottom: 15px;
}
.form-feedback__title--break-line .form-feedback__title--visible-index {
	  display: block;
		margin: 0 auto;
		max-width: 300px;
		padding: 0 40px;
}

.form-feedback__label--checkbox {
	display: inline-block;
	box-sizing: border-box;
	padding-right: 80px;
	margin: 0;
	margin-bottom: 30px;
}
.form-feedback__label--checkbox:nth-of-type(2n-1){
	margin-left: 85px;
}

.form-feedback__review{
	width: 100%;
	margin: 0;
	margin-bottom: 60px;
}

.form-feedback__send-form {
	display: flex;
	width: 100%;
	margin-bottom: 100px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}
.form-feedback__btn {
	width: 50%;
	margin: 0;
}
.feedback-form__note {
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}

.feedback-form__note sup {
	font-size: 110%;
	top: 0;
}

}

@media (min-width: $desktop-width){
	.form-feedback{
		padding: 0 120px;
	}
	.form-feedback__title--align-onlyleft{
		width: auto;
		padding-left: 80px;
	}
	.form-feedback__title--align-left{
		width: auto;
		padding-left: 75px;
	}
	.form-feedback__presentation-wrapper{
		padding-left: 75px;
	}
	.form-feedback__title--visibility-hidden{
		display: inline;
	}

	.form-feedback__external-wrapper{
		display: flex;
	}

	.form-feedback__inside-wrapper{
	  display: flex;
		align-content: center;
		flex-basis: 400px;
		padding: 0;
	}
	.form-feedback__input-error{
		width: 100%;
		padding-left: 110px;
		order: -1;
		
	}
	.form-feedback__label--contacts{
		padding-left: 0;
		padding-bottom: 0;
		align-self: center;
	}

	.form-feedback__input--contacts{
		box-sizing: border-box;
		width: auto;
		flex-shrink: 2;
		margin-bottom: 0;
	}
	.form-feedback__inside-wrapper::after{
		bottom: 0;
		right: 0;
	}
	.form-feedback__inside-wrapper--phone::after{
		right: 80px;
	}

	.form-feedback__inside-wrapper--email{
		align-items: flex-end;
		flex-grow: 1;
	}
	.form-feedback__inside-wrapper:nth-child(2n+1){
		padding-right: 80px;
	}
	.form-feedback__label--email{
		margin-top: 40px;
	}
	.form-feedback__label--visibility-hidden{
		display: none;
	}
	.form-feedback__label--checkbox:nth-of-type(2n-1){
		margin-left: 0;
	}
	.form-feedback__label--checkbox{
		margin: 0;
		width: 24.5%;
		padding-right: 0;
	}
	
}