
.header-content__title{
	display: block;
	width: 82%;
	max-width: 350px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 18px;
	color: $primary-txt-color;
	text-transform: uppercase;
}

.header-content__text {
	 width: 78%;
	 max-width: 266px;
	 margin: 0 auto;
	 padding: 20px 0;
	 font-size: 14px;
	 font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   color: #333;
   line-height: 1.7;
}


@media (min-width: $tablet-width){
	.header-content__title{
		width: 65%;
		max-width: 520px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.header-content__title.header-content__title--big{
		padding-top: 75px;
		font-size: 30px;
	}
	.header-content__text{
		width: 75%;
		max-width: 500px;
		padding-bottom: 55px;
	}
}

@media (min-width: $desktop-width){
	.header-content__title{
		width: 42%;
		font-size: 21px;
	}
	.header-content__text{
		width: 46%;
	}
}