.main-footer {
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-transform: uppercase;
}

.main-footer__invitation-tag {
	padding: 40px 0;
	font-size: 21px;
}

.main-footer__created-wrapper{

}

.main-footer__text {
	display: inline-block;
	margin-right: 10px;
	font-weight: 500;
	vertical-align: middle;
}

.main-footer__logo {
	display: inline-block;
	vertical-align: middle;
}