.main-footer {
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-transform: uppercase;
}

.main-footer__wrapper {
	padding-top: 45px;
}

.main-footer__invitation-tag {
	padding-bottom: 40px;
	font-size: 21px;
}



.main-footer__text {
	display: inline-block;
	margin-right: 10px;
	font-weight: 500;
	vertical-align: middle;
}

.main-footer__logo {
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: $tablet-width){
	.main-footer {
		padding-left: 7.8%;
		padding-right: 7.8%;
	}
	.main-footer__invitation-tag{
		display: inline-block;
		width: calc(100%/3);
		vertical-align: middle;
		padding-bottom: 0;
		text-align: left;
	}
	.main-footer__created-wrapper{
		display: inline-block;
		width: 31.5%;
		text-align: right;

	}


}