.main-page {
	z-index: 100;
}

.main-page--photos {
	margin-bottom: 100px;
}

@media (min-width: $tablet-width){
	.main-page--photos{
		padding: 0 60px;
	}
}

@media (min-width: $desktop-width){
	.main-page--photos{
		padding: 0 0;
	}
}