.navigation {
	position: relative;
	background-color: $secondary-bg-color;
}
.navigation--hidden{
	display: none;
}
.navigation__item {
	float: none;
}

.navigation__link {
	display: block;
	padding: 19px 0;
	border-bottom: 1px solid #678fa8;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: $secondary-txt-color;

	&:hover {
		background-color: #669ec0;
	}
	&:active {
		background-color: #5496bd;
		color: #88b6d1;
	}
}

.navigation__button-close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 22px;
	height: 22px;
	background-image: url("../img/icon-cross.svg");
}


@media (min-width: $tablet-width){

	.navigation {
		background-color: $primary-bg-color;
		display: block;
	}

	.navigation__list {
		@include clearfix();
	}

	.navigation__item {
		display: inline-block;
		width: 19.5%;
	}
	.navigation__item:nth-child(2){
		margin-right: 20%;
	}

	.navigation__link {
		border-bottom: none;
		font-size: 14px;
		color: $primary-txt-color;

		&:hover {
			background-color: transparent;
			color: #81b3d2;
		}	
		&:active {
			background-color: transparent;
		}
	}

	.navigation__button-close{
		display: none;
	}


}
