.navigation {
	position: relative;
	background-color: $secondary-bg-color;
}

.navigation__item {

}

.navigation__link {
	display: block;
	padding: 19px 0;
	border-bottom: 1px solid #678fa8;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: $secondary-txt-color;

	&:hover {
		background-color: #669ec0;
	}
	&:active {
		background-color: #5496bd;
		color: #88b6d1;
	}
}

.navigation__button-close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 22px;
	height: 22px;
	background-image: url("../img/icon-cross.svg");
}