.posts-item {
	padding: 20px 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.posts-item__photo {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.posts-item__info{
	padding-top: 18px;
}
.posts-item__title {
	margin-bottom: 12px;
	font-size: 14px;
	text-align: left;
	text-transform: uppercase;
}

.posts-item__author{
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}

.posts-item__likes {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-left: 35px;
	font-size: 14px;
}
.posts-item__svg{
	position: absolute;
	top: 8px;
	left: 7px;
	width: 22px;
	height: 20px;
	
	path{
		fill: #b2b2b2;
	}
}

@media (min-width: $tablet-width){

	.posts-item{
		padding: 0;
		border-top: none;
		border-bottom: none;
	}
	.posts-item:nth-child(n+2){
		display: inline-block;
		width: 50%;
	}
	.posts-item:nth-child(n+2) .posts-item__photo {
		height: 268px;
	}	
	.posts-item__info{
		@include clearfix();
		padding-bottom: 20px;
		background-color: #f2f2f2;
	}
	.posts-item__photo--first{
		height: 400px;
	}
	.posts__description{
		padding-left: 20px;
		float: left;
	}
	.posts-item__likes {
		padding-top: 22px;
		padding-right: 20px;
		float: right;
	}
	.posts-item__svg{
		top: 18px;
	  left: 7px;

	  path{
	  	fill: #a9a9a9;
	  }
	}
}


@media (min-width: $desktop-width){

	.posts-item:nth-child(n+2){
		width: calc(100%/3);
	}
	.posts-item{
		position: relative;
	}
	.posts-item__info{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		color: #ffffff;
		z-index: 100;
	}
	.posts-item__likes {
		color: #ffffff;
	}
	.posts-item__svg{
		path{
	  	fill: #ffffff;
	  }
	}
}
