.presentation {
	padding-top: 35px;
	text-align: center;
	text-transform: uppercase;
	background-color: $primary-bg-color;
}

.presentation__title{
	margin-bottom: 35px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
}

.presentation__content {
	margin: 0 auto;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 500;
	font-size: 14px;
}

@media (min-width: $tablet-width){
	.presentation {
		padding-top: 45px;
	}
	.presentation__title{
		font-size: 30px;
	}
	.presentation__content{
		margin-bottom: 80px;
		width: 65%;
	}
}

@media (min-width: $desktop-width){
	.presentation {
		padding: 0 60px;
		padding-top: 75px;

	}
	.presentation__content{
		width: 36%;
	}
}