.social-links-item {
	display: inline-flex;
	width: 47px;
	height: 47px;
	margin-right: 8px;
	vertical-align: bottom;
	justify-content: center;
	align-items: center;
}

.social-links-item__svg {
	fill: #fff;
}