.social-links-item {
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	&--twitter {
		background-image: url("../img/icon-twitter.svg");
	}
	&--facebook {
		background-image: url("../img/icon-facebook.svg");
	}
	&--youtube {
		background-image: url("../img/icon-youtube.svg");
	}


}