.toggle-menu {
	position: absolute;
	top: 26px;
	right: 20px;
	display: block;
	width: 24px;
	height: 4px;
	border: none;
	font-size: 0;
	background-color: $secondary-bg-color;
	outline: none;

	&::before{
		content: "";
		position: absolute;
		top: -8px;
		left: 0;
		width: 24px;
		height: 4px;
		background-color: $secondary-bg-color;
	}
	&::after{
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		width: 24px;
		height: 4px;
		background-color: $secondary-bg-color;
	}
}

.toggle-menu:hover::before{
	transform: translateY(16px);
	transition-duration: 1s;
}
.toggle-menu:hover::after{
	transform: translateY(-16px);
	transition-duration: 1s;
}


@media (min-width: $tablet-width){
	.toggle-menu{
		display: none;
	}
}

